*
{
    font-family: fantasy;
}

head
{
    color: black;
    text-decoration: none;
}

header > div > p
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #8c8c8c;
}

#title
{
    text-align: center;
    font-size: 5vw;
}

#title > p > small
{
    font-size: 3vw;
}

#div
{
    text-align: center;
}

#canvas
{
    border: 2px solid black;
}

#bird, #pipe, #UPpipe, #sky, #ground
{
    width: 0px;
    height: 0px;
}