*
{
    font-family: fantasy;
}

header > div > p
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #8c8c8c;
}

#title
{
    text-align: center;
    font-size: 5vw;
    color: #8c8c8c;
    background-color: black;
}

#title > p > small
{
    font-size: 3vw;
}

#project
{
    font-size: 2vw;
}

#projects
{
    text-align: center;
}

a:link
{
  text-decoration: none;
  color: black;
}

a:visited
{
  text-decoration: none;
  color: black;
}

a:hover
{
  text-decoration: underline;
  color: black;
}

a:active
{
  text-decoration: underline;
  color: black;
}

#cellcycle > img
{
    width: 50%;
    height: 50%;
}

#flappybird > img
{
    width: 30%;
    height: 30%;
}

