*
{
    font-family: fantasy;
}

header > p
{
    margin: 0;
    padding: 1;
}

body
{
    background-color: #8c8c8c;
}

#title
{
    text-align: center;
    font-size: 5vw;
    color: #8c8c8c;
    background-color: black;
}

#by
{
    text-align: center;
    font-size: 1.5vw;
    margin: 4px;
}

#centered
{
   text-align: center; 
}

#img
{
    border: 2px solid black;
}

#phase
{
    font-size: 2vw;
    border: 2px solid black;
    margin: 0 32%;
}

#text
{
    border: 2px solid black;
    margin: 0 32%;
    font-size: 1vw;
}

.button
{
    width: 5%;
    font-size: 1.5vw;
}