#by
{
    text-align: center;
    font-size: 0.9vw;
}

#centered
{
   text-align: center; 
}

#img
{
    border: 2px solid black;
}

#phase
{
    font-size: 2vw;
    border: 2px solid black;
    margin: 0 32%;
}

#text
{
    border: 2px solid black;
    margin: 0 32%;
    font-size: 1vw;
}

.button
{
    width: 5%;
    font-size: 1.5vw;
}